
@model EduHome.Models.ViewModels.CommentVM

<div class="container p-3">
    <div class="row pt-4">
        <div style="margin-left:auto;margin-right:auto;">
            <iframe width="560"
                    height="315"
                    src="https://www.youtube.com/embed/1A5W6G_d2-0"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <div class="col-6">
            <h2 class="text_primary">Comments List</h2>
        </div>
        <form method"post" asp-action="Create">
            <div class="col-10">
                <input type="text" name="Comment" value="" class="form-control" placeholder="Your comment" />
            </div>
            <div class="col-6">    
                <input type="submit" class="btn btn-info w-150" value="Post Comment" />
            </div>
        </form>
    </div>
    <br />

    @if(Model.IEComment.Count() > 0) 
    { 
        <table class="table table-bordered table-striped" style=""width:100%">
            <thead>
                <tr>
                    <th>
                        <label asp-for="Comment.Commenter"></label>
                    </th>
                    <th>
                        <label asp-for="Comment.Comment_Date"></label>
                    </th>
                    <th>
                        <label asp-for="Comment.Comment_String"></label>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var iecomment in Model.IEComment)
                {
                <tr>
                    <td width="30%">@iecomment.Commenter</td>
                    <td width="30%">@iecomment.Comment_Date</td>
                    <td width="30%">@iecomment.Comment_String</td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No comments created yet</p>
    }



</div>